:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#root {
  width: 100%;
  max-width: 1200px;
}

.App {
  text-align: center;
  padding: 2rem;
}
